
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
main{
  width: $ancho;
  background-color: $primary;
  display: flex;
  aside{
    width: $ancho / 2;
    background-color: $secondary;
  }
  section{
    width: $ancho / 2;
    background-color: gray;
  }
}
@for $i from 1 through 10 {
    .col-#{$i}{
        width: 10% * $i;
    }
}